<header class="header-top">
    <span class="material-symbols-outlined" id="menu-mobile" onclick="activeMenu()">menu</span>
    <section class="section-header">
        <a href="./"> <img class="logo-header" src="../img/Logo2.png" alt="Logo it's my learn"></a>
    </section>

    <nav class="nav-header">
        <ul class="menu" id="menu">
            <li><a href="./">Início</a></li>
            <li><a href="./mylearns.html">My Learns</a></li>
            <li><a href="./sobre">Sobre</a></li>
            <li><a class="user" href="./login.html">Login <span class="material-symbols-outlined">
                        login</span></a>
            </li>
            <!-- <li><a class="user" href="./login.html">Logout <span class="material-symbols-outlined">
                        logout</span></a>
            </li> -->
        </ul>
    </nav>
</header>