* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    color: whitesmoke;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-top {
    background: rgb(40, 40, 40);
    width: 100%;
    display: flex;
    flex-direction: column;   
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 3px  #00000030;
    padding: 15px; 
}

.section-header {
    display: flex;
    justify-content: center;
}

.logo-header {
    width: 100%;
}

.nav-header {
    width: 100%;
    display: flex;
}

.menu {
    width: 100%; 
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.menu li a {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

li a:hover {
    color:#29abe2;
    border-bottom: solid 1px #29abe2;
}

.main-home {
    color: whitesmoke;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

.figure-main {
    width: 80%;
}

.article-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.article-main h1 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 36px;
    color: #29abe2;
}

.article-main p {
    color: rgb(40, 40, 40);
}

.button-footer {
    background: rgb(40, 40, 40);
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
}

.button-footer:hover {
    background: #29abe2;
}

.footer-bottom {
    width: 100%;
    display: flex; 
    padding: 15px ; 
}

.social-article {
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 20px;
}

.social-header-article, .social-section-article {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.socialA, .socialB, .socialC {
    width: 40px;
    height: 40px;
}

.socialA {
    background-image: url(./img/behance.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.socialA:hover {
    background-image: url(./img/behanceB.png);
}

.socialB {
    background-image: url(./img/linkedin.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.socialB:hover {
    background-image: url(./img/linkedinB.png);    
}

.socialC {
    background-image: url(./img/whatsapp.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.socialC:hover {
    background-image: url(./img/whatsappB.png);
}

.social-section-article {
    width: 100%;    
    flex-direction: column;
    align-items: center;    
}

.social-section-article p {
    color: rgb(40, 40, 40);
}

.social-section-article p a {
    color: #29abe2;
}

.social-section-article p a:hover {
    color: rgb(40, 40, 40);
}

/* Breakpoint Mobile */
@media screen and (max-width: 280px) {
    .menu {
        flex-direction: column;
    }
}
/* Breakpoint Mobile */
@media screen and (min-width: 281px) and (max-width: 499px) {

    .logo-header {
        width: 50%;        
    }

    .figure-main {
        width: 50%;
    }

    .section-article {
        width: 80%;
    }

    .social-header-article {
        justify-content: center;
        gap: 20px;
    }
}

/* Breakpoint Mobile/Tablet */
@media screen and (min-width: 500px) and (max-width: 790px) {

    .logo-header {
        width: 40%;        
    }

    .figure-main {
        width: 40%;
    }

    .section-article {
        width: 80%;
    }

    .social-header-article {
        justify-content: center;
        gap: 20px;
    }
}

/* Breakpoint Tablet/Desktop */
@media screen and (min-width: 791px) and (max-width: 1300px) {

    .header-top {
        display: flex;
        flex-direction: row; 
        justify-content: space-around;  
    }   

    .logo-header {
        width: 30%; 
    }

    .nav-header {
        width: 100%;
        justify-content: center; 
    }

    .menu {
        width: 100%;
        justify-content: space-evenly;
        gap: 30px;
    }

    .main-home {
        flex-direction: row;
        justify-content: center;
    }

    .figure-main {
        width: 30%;
    }

    .article-main {
        width: 50%;
    }

    .section-article {
        width: 80%;
    }

    .social-header-article {
        justify-content: center;
        gap: 20px;
    }
}

/* Breakpoint Tablet/Desktop */
@media screen and (min-width: 791px) and (max-width: 1300px) {}