* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    color: whitesmoke;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.header-top {
    background: rgb(40, 40, 40);
    width: 100%;
    display: flex;
    flex-direction: column;   
    align-items: center;
    box-shadow: 0px 3px 3px  #00000030; 
}

.section-header {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.logo-header {
    width: 100%;
}

.nav-header {
    width: 100%;
    display: flex;
}

.menu {
    width: 100%; 
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    padding: 20px 10px;
}

.menu li a {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

li a:hover {
    color:#29abe2;
    border-bottom: solid 1px #29abe2;
}

.main-home {
    color: whitesmoke;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

.figure-main {
    width: 80%;
}

.article-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.article-main h1 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 36px;
    color: #29abe2;
}

.article-main p {
    color: rgb(40, 40, 40);
}

.button-footer {
    background: rgb(40, 40, 40);
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
}

.button-footer:hover {
    background: #29abe2;
}

.footer-bottom {
    width: 100%;
    display: flex; 
    padding: 15px ; 
}

.social-article {
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 20px;
}

.social-header, .social-section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.socialA, .socialB, .socialC {
    width: 40px;
    height: 40px;
}

.socialA {
    background-image: url(./img/behance.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.socialA:hover {
    background-image: url(./img/behanceB.png);
}

.socialB {
    background-image: url(./img/linkedin.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.socialB:hover {
    background-image: url(./img/linkedinB.png);    
}

.socialC {
    background-image: url(./img/whatsapp.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.socialC:hover {
    background-image: url(./img/whatsappB.png);
}

.social-section {
    width: 100%;    
    flex-direction: column;
    align-items: center;    
}

.social-section p {
    color: rgb(40, 40, 40);
}

.social-section p a {
    color: #29abe2;
}

.social-section p a:hover {
    color: rgb(40, 40, 40);
}

/* Breakpoint Tablet */
@media screen and (min-width: 399px) and (max-width: 550px) {

    .logo-header {
        width: 60%;        
    }

    .figure-main {
        width: 60%;
    }

}