<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio-Jogo da Forca</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header>
        <h1>Desafio-Jogo da Forca</h1>
    </header>
    <main>
        <article id="game">
            <header><h1>Digite o nome de uma fruta...</h1></header>
            <section>
                <p class="word" id="palavra"></p>
            </section>
            <section>
                <p class="incorrect-letters" id="letras-incorretas"></p>
                <p id="tentativas"></p>
            </section>
            <section id="tempo"></section>

        </article>
    </main>
    <footer>Produzido por Josinaldo Jr</footer>
 
    <script src="./script.js"></script>
   
</body>
</html>