<%- include('./layout/header') %>
<%- include('./layout/navbar') %>

    <main class="main-base">
        <figure class="figure-main">
            <img src="./img/Boy.svg" alt="Garoto estudando em cima dos livros.">
        </figure>
        <article class="article-main">
            <header class="header-article">
                <h1>Atividade 01</h1>
            </header>
            <section class="section-article">
             
            </section>
            <footer class="footer-article">
               
            </footer>
        </article>
    </main>

<%- include('./layout/footer') %>  