<%- include('./layout/header') %>
<%- include('./layout/navbar') %>

    <main class="main-base">
        <figure class="figure-main">
            <img src="./img/Boy2.svg" alt="Garoto estudando em cima dos livros.">
        </figure>
        <article class="article-recsenha">
            <header>
                <h1>
                    Esqueceu a senha?
                </h1>
                <p>
                    Informe seu email no campo abaixo e nós cuidaremos do resto.
                </p>
            </header>

            <form action="./index" method="POST">

                <fieldset>
                    <legend>Email:</legend>                    
                    <input type="email" id="email" name="email" placeholder="Digite seu e-mail." required>
                </fieldset>

                <button type="submit">Enviar</button>

            </form>
            <footer class="article-login-footer">
                <p>Problemas com email?<a href="https://whats.link/josinaldosouzajr"> Fale comigo.</a> </p>
            </footer>
        </article>
    </main>
   
    <%- include('./layout/footer') %>  