<%- include('./layout/header') %>
<%- include('./layout/navbar') %>
 
    <main class="main-base">
        <figure class="figure-main">
            <img src="./img/Boy.svg" alt="Garoto estudando em cima dos livros.">
        </figure>
        <article class="article-main">
            <header class="header-article">
                <h1>It's my LEARN</h1>
            </header>
            <section class="section-article">
                <p>Este site faz parte do meu projeto final do Curso de Programador Full Stack - Senac. Aqui apresento
                    minha jornada de estudos na área, incluindo referências, dicas e links.
                </p>
                <br>
                <p>
                    O objetivo é mostrar a aplicação prática dos conhecimentos adquiridos. Ao explorar este espaço, você
                    terá uma visão das minhas habilidades e progresso na aprendizagem do curso.
                </p>
                <br>
                <p>
                    Para acessar todos os detalhes sobre as áreas de estudos recentes, clique no botão abaixo:
                </p>
            </section>
            <footer class="footer-article">
                <a href="./login"><button class="button-footer">Login</button> </a>
            </footer>
        </article>
    </main>
   
    <%- include('./layout/footer') %>