<%- include('./layout/header') %>
<%- include('./layout/navbar') %>

    <main class="main-base">
        <figure class="figure-main">
            <img src="./img/Boy.svg" alt="Garoto estudando em cima dos livros.">
        </figure>
        <article class="article-main">
            <header class="header-article">
                <h1>My Learns</h1>
            </header>
            
            <section class="portfolio-card">
                <h2>Nome da Atividade 1</h2>
                <a href="./atv1"><button class="activity-button">Ver Atividade</button></a>
            </section>
            
            <section class="portfolio-card">
                <h2>Nome da Atividade 2</h2>
                <a href="./atv2"><button class="activity-button">Ver Atividade</button></a>
            </section>
            
            <section class="portfolio-card">
                <h2>Nome da Atividade 3</h2>
                <a href="./atv3"><button class="activity-button">Ver Atividade</button></a>
            </section>          
            
            <footer class="footer-article">
              
            </footer>
        </article>
    </main>
   
    <%- include('./layout/footer') %>  