* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    text-align: center;
}

body>header {
    background: #2e2e2e;
    width: 100%;    
}

header {
    padding: 15px;
}

h1 {
    margin-bottom: 20px;
}

input {
    padding: 5px;
    
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    background-color: #007BFF;
    border: none;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
}

div>p, header, footer {
    flex-grow: 1;
}

.edit-button,
.delete-button {
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 14px;
    background-color: #333;
    border: none;
    color: #fff;
    cursor: pointer;
}

.edit-button:hover,
.delete-button:hover {
    background-color: #555;
}

main {
    height: 100vh;
    width: 100%;

}

article>section {
    min-height: 500px;
}


.box, .caixa1 {
    display: flex;
    flex-direction: column; 
    gap: 15px;
}

.caixa1 {
    padding: 20px;
    text-align: left;
    margin: 15px auto 0 auto;
    max-width: 25%;
}

#result {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    margin-top: 30px;

}

.tarefa{
    min-width: 300px;
    min-height: 200px;
    max-height: 400px;
    background:#818181;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.030);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.testebotao {
    width: 100%;
}
